<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo_quirofano"
        android:label="Quirófano"
        android:roundIcon="@mipmap/logo_quirofano"
        android:supportsRtl="true"
        android:theme="@style/Theme.Quirofano"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".CirugiaGeneralActivity" />
        <activity android:name=".CirugiaPlasticaActivity" />
        <activity android:name=".TraumatologiaActivity" />
        <activity android:name=".CirugiaVascularActivity" />
        <activity android:name=".OtorrinoActivity" />
        <activity android:name=".UrologiaActivity" />
        <activity android:name=".MaxilofacialActivity" />
        <activity android:name=".GinecologiaActivity" />
        <activity android:name=".TiroidectomiaActivity"/>
        <activity android:name=".ColecistectomiaActivity"/>
        <activity android:name=".HerniaAbiertaActivity"/>
        <activity android:name=".HerniaLaparoscopiaActivity"/>

    </application>
</manifest>